.reset-password-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f0f4fa;
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Century Gothic', Arial, sans-serif;

  }
  
  p {
    color: #6c757d;
    margin-bottom: 30px;
    
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Century Gothic', Arial, sans-serif;

  }
  