.sign-up-container {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdfeff;
  }
  
  .login-illustration {
    max-width: 80%;
    height: auto;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Century Gothic', Arial, sans-serif;

  }
  
  p {
    color: #6c757d;
    margin-bottom: 30px;
    
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .sign-up-button, .sign-in-button {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Century Gothic', Arial, sans-serif;

  }
  