<div fxLayout="row" fxLayoutGap="20px" class="board-container">
  <app-column [title]="'To Do'" [tasks]="todoTasks" (moveTaskToBoard)="moveTaskToColumn($event.task, $event.newColumn)"></app-column>
  <app-column [title]="'In Progress'" [tasks]="doingTasks" (moveTaskToBoard)="moveTaskToColumn($event.task, $event.newColumn)"></app-column>
  <app-column [title]="'Review'" [tasks]="reviewTasks" (moveTaskToBoard)="moveTaskToColumn($event.task, $event.newColumn)"></app-column>
  <app-column [title]="'Done'" [tasks]="doneTasks" (moveTaskToBoard)="moveTaskToColumn($event.task, $event.newColumn)"></app-column>
</div>
